@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #f0fdf9;
    --background-secondary: #e2f4ed;
    --background-tertiary: #cfefe3;
    --background-inverse: #ffffff;
    --text-primary: #0c1814;
    --text-secondary: #cbd5e1;
    --text-tertiary: #e2e8f0;
    --text-default: #64748b;
    --text-inverse: #ffffff;
    --text-disabled: #94a3b8;
  }

  :root.dark {
    --background-primary: #0f172a;
    --background-secondary: #1e293b;
    --background-tertiary: #334155;
    --background-inverse: #ffffff;
    --text-primary: #f8fafc;
    --text-secondary: #cbd5e1;
    --text-tertiary: #e2e8f0;
    --text-default: #64748b;
    --text-inverse: #ffffff;
    --text-disabled: #94a3b8;
  }
}
