.react-datepicker__triangle {
  display: none;
}

.react-datepicker.customDarkModal {
  background-color: #1e293b !important;
  border: 1px solid #059669 !important;
  border-radius: 12px !important;
}

.customDarkModal .react-datepicker__month-container {
  border-radius: 12px !important;
  width: 336px;
  height: 258px;
  background-color: #1e293b;
}
.customDarkModal .react-datepicker__header {
  margin-top: 8px;
  background-color: #1e293b;
  border-bottom: none;
}
.customDarkModal .react-datepicker__day {
  width: 43.43px;
  color: #ffffff !important;
}
.customDarkModal .react-datepicker__day:hover {
  background-color: #10b981;
}
.customDarkModal .react-datepicker__day--selected {
  color: #1e293b !important;
  background-color: #10b981;
}
.customDarkModal .react-datepicker__day-name {
  margin-top: 15px;
  width: 43.43px;
  color: #ffffff !important;
}
.customDarkModal .react-datepicker__current-month {
  color: #ffffff !important;
}
.customDarkModal .react-datepicker__month {
  margin: 0px;
}
.customDarkModal .react-datepicker__day--outside-month {
  color: #64748b !important;
}

/* lightMode */
.react-datepicker.customLightModal {
  background-color: #ffffffff !important;
  border: 1px solid #059669 !important;
  border-radius: 12px !important;
}

.customLightModal .react-datepicker__month-container {
  border-radius: 12px !important;
  width: 336px;
  height: 258px;
  background-color: #ffffffff;
}
.customLightModal .react-datepicker__header {
  margin-top: 8px;
  background-color: #ffffffff;
  border-bottom: none;
}
.customLightModal .react-datepicker__day {
  width: 43.43px;
  color: #1e293b !important;
}
.customLightModal .react-datepicker__day:hover {
  background-color: #10b981;
}
.customLightModal .react-datepicker__day--selected {
  color: #1e293b !important;
  background-color: #10b981;
}
.customLightModal .react-datepicker__day-name {
  margin-top: 15px;
  width: 43.43px;
  color: #1e293b !important;
}
.customLightModal .react-datepicker__current-month {
  color: #1e293b !important;
}
.customLightModal .react-datepicker__month {
  margin: 0px;
}
.customLightModal .react-datepicker__day--outside-month {
  color: #64748b !important;
}
